* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #9aa387;
	min-height: 1500px;
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

/* Parallax Styles */
.parallax {
	/*  */
	position: relative;
	width: 100%;
	/*  */
	height: 100vh;
	/*  */
	overflow: hidden;
	display: flex;
	justify-content: center;
}

.parallax:before {
	content: '';
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;
	background: linear-gradient(to top, #9aa387, transparent);
	z-index: 10000;
}

/* section:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #9aa387;
	z-index: 10000;
	mix-blend-mode: color;
} */

.parallax img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	pointer-events: none;
}

#name {
	display: flex;
	align-items: center;
	position: relative;
	color: #fff;
	font-size: 4em;
	z-index: 1;
	letter-spacing: 20px;
	opacity: 0.6;
}

/* # {
	z-index: 2;
} */

/* Header styles */
.header {
	display: flex;
	background-color: rgba(0, 0, 0, 0.1);
	justify-content: space-between;
	height: 60px;
}

.logo {
	display: flex;
	justify-content: start;
	align-items: center;
	font-size: 15px;
	width: 50%;
	letter-spacing: 20px;
	text-transform: uppercase;
}

.logo a {
	color: #ffffff;
}

.logo a:hover {
	color: #949787;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 40%;
}

.nav a {
	color: #ffffff;
	font-size: 12px;
	letter-spacing: 2px;
	text-transform: uppercase;
}

.nav a:hover {
	color: #949787;
}

/* Bio styles */
.bio {
	background-color: #a08585;
	display: flex;
}

.photo-bio {
	background-color: #3f3737;
	flex: 2 auto;
}

.info-bio {
	background-color: #3f3737;
	flex: 3 auto;
}

/* Projects Styles */

.projects-container {
	background-color: #a08585;
	display: flex;
	flex-direction: column;
}

.projects {
	background-color: cyan;
	display: flex;
	flex-wrap: wrap;
}

.project-individual {
	background-color: #3f3737;
	display: flex;
	flex-direction: column;
	flex: 20%;
}

/* Art styles */

.img-project {
	background-color: rgb(193, 131, 199);
}

.art-container {
	background-color: #a08585;
	display: flex;
	flex-direction: column;
}

.art-imgs {
	background-color: darkgreen;
	display: flex;
	flex-wrap: wrap;
}

.art {
	background-color: #3f3737;
	flex: 20%;
}

/* Footer styles */
.footer {
	display: flex;
	justify-content: center;
}

.social {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 10%;
}

.social a {
	font-size: 20px;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.social a:hover {
	color: #949787;
}

/* Media querys */

@media all and (max-width: 800px) {
	.header {
		flex-direction: column;
		height: auto;
	}
}

@media all and (max-width: 600px) {
	.projects {
		flex-direction: column;
		height: auto;
	}
	.bio {
		flex-direction: column;
		height: auto;
	}
	.art-imgs {
		flex-direction: column;
		height: auto;
	}
}
