* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #9aa387;
  min-height: 1500px;
  font-family: "Poppins", sans-serif;
  color: #f7f7f7;
}

a {
  text-decoration: none;
  color: #ffffff;
  opacity: 0.7;
}
p {
  line-height: 28px;
  opacity: 0.9;
}
h2 {
  letter-spacing: 25px;
  text-transform: uppercase;
  opacity: 0.15;
  font-size: 30px;
  text-align: end;
  /* position: absolute; */
}

/* Parallax Styles */
.parallax {
  /*  */
  position: relative;
  width: 100%;
  /*  */
  height: 100vh;
  /*  */
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.parallax:before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #9aa387, transparent);
  z-index: 10000;
}

/* section:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #9aa387;
	z-index: 10000;
	mix-blend-mode: color;
} */

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}

#name {
  display: flex;
  align-items: center;
  position: relative;
  /* color: #984a5c; */
  color: #ffffff;
  font-size: 4em;
  z-index: 1;
  letter-spacing: 20px;
  opacity: 0.7;
  /* font-weight: 800; */

  /* font-weight: 300; */
}

/* # {
	z-index: 2;
} */

/* Header styles */
.header {
  display: flex;
  /* background-color: rgba(0, 0, 0, 0.1); */
  justify-content: center;
  height: 60px;
  padding-left: 70px;
  padding-right: 70px;
}

/* .logo {
  display: flex;
  justify-content: start;
  align-items: center;
  font-size: 15px;
  width: 50%;
  letter-spacing: 20px;
  text-transform: uppercase;
} */

/* .logo a {
  color: #ffffff;
}

.logo a:hover {
  color: #29322a;
} */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.nav a {
  color: #ffffff;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.nav a:hover {
  color: #984a5c;
  /* color: #29322a; */
  text-decoration-line: underline;
}

/* Bio styles */
.bio {
  display: flex;
  /*  background-color: rgba(255, 255, 255, 0.1); */
  margin: 70px;
  border-radius: 20px;
  /* border-color: rgba(255, 255, 255); */
}

.photo-bio {
  max-width: 40%;
  opacity: 80%;
  width: 30%;
}
.photo-bio img {
  display: flex;
  max-width: 100%;
  border-radius: 20px;
}

.info-bio {
  width: 70%;
  padding-left: 50px;
}

.info-bio h3 {
  letter-spacing: 25px;
  text-transform: uppercase;
  opacity: 0.9;
  color: #984a5c;
  font-weight: 400;
  text-decoration-line: underline;
}

/* Projects Styles */

.projects-container {
  display: flex;
  flex-direction: column;
  margin: 70px;
}

.project-individual {
  display: flex;
  /* flex-direction: column; */
  flex-direction: row-reverse;
  margin-bottom: 30px;
}

.project-individual a p {
  color: #fff;
  font-size: 130px;
  z-index: 1;
  letter-spacing: 10px;
  opacity: 0.6;
  text-align: end;
  line-height: 300px;
  font-weight: 100;
}
.project-individual a :hover {
  color: #984a5c;
  transform: scale(0.4);
  font-weight: 200;
}

.link-project {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.info-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin-right: 60px;
}

.project-tittle {
  font-size: 40px;
  letter-spacing: 8px;
  font-weight: 300;
  margin-bottom: 10px;
  color: #984a5c;
}

.project-tools {
  font-size: 15px;
  letter-spacing: 3px;
  margin-bottom: 20px;
  margin-top: 10px;
  font-weight: 70;
}

.paragraph-project {
  font-weight: 70;
}

/* Contact styles */

.social {
  display: flex;
  justify-content: flex-end;
  opacity: 0.8;
  padding-right: 70px;
  margin-bottom: 40px;
}

.social a {
  font-size: 40px;
  color: #984a5c;
  padding: 0;
  margin: 20px;
  opacity: 0.5;
}

.social a:hover {
  opacity: 0.9;
}

/* Footer styles */
.footer {
  background-color: rgba(225, 225, 225, 0.2);
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 70px;
}

.footer p {
  color: #984a5c;
}
/* Media querys */

/* @media all and (max-width: 800px) {
	.header {
		flex-direction: column;
		height: auto;
	}
}

@media all and (max-width: 600px) {
	.projects {
		flex-direction: column;
		height: auto;
	}
	.bio {
		flex-direction: column;
		height: auto;
	}
	.art-imgs {
		flex-direction: column;
		height: auto;
	}
} */
